* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Bangers", cursive;
}

a.navbar-font-left {
  font-size: 3rem;
}

.navbar a.navbar-brand {
  color: rgba(0, 0, 0, 0.5);
}

a.navbar-font-right {
  font-size: 2rem;
}

.middle-cover {
  position: relative;
  bottom: 450px;
  height: 300px;
  background-color: rgba(52, 58, 64, 0.3);
  margin: 0 10%;
}

.nav-position {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
